@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --font-family: "Poppins", sans-serif;
    --title: linear-gradient(to right, #4285f4, #d96570);
}

.dark-mode {
    --primary: #242424;
    --secondary: #383838;
    --tertiary: #444;
    --subtitle: #828282;
    --text: #e3e3e3;
    --placeholder: #a6a6a6;
    --loading: linear-gradient(to right, #4285f4, #242424, #4285f4);
}

.light-mode {
    --primary: #fff;
    --secondary: #e9eef6;
    --tertiary: #dbe1ea;
    --subtitle: #a0a0a0;
    --text: #222;
    --placeholder: #6c6c6c;
    --loading: linear-gradient(to right, #4285f4, #fff, #4285f4);
}

@keyframes loading {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}
